.userManagement.actions {
    display: block;
    padding: 10px;
}

.b2c-overlay {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.b2c-rightTab {
    position: fixed;
    right: 0;
    left: auto;
    top: 0;
    bottom: 0;
    z-index: 9999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin-right: -500px;
    -moz-transition: margin-right .3s ease-in;
    -o-transition: margin-right .3s ease-in;
    -webkit-transition: margin-right .3s ease-in;
    transition: margin-right .3s ease-in;
    background-color: #ffffff;
    width: 500px;
}
    .b2c-rightTab.b2c-rightTab-show {
        margin-right: 0;
    }

.b2c-panel {
    padding: 20px;
    overflow-y: auto;
    max-height: 100vh;  
}

    .b2c-panel h3.dnnFormSectionHead {
        position: fixed;
        background-color: white;
        width: 100%;
        top: 0px;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 99;
    }
     
    .b2c-close-panel {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 2em;
        z-index: 100;
    }

.b2c-panel .dnnForm {
    margin-top: 60px;
}
.b2c-groups-header {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
}
.b2c-groups-row {
    padding: 10px;
}
    .table tbody tr td.userName div {
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tbody tr {
    cursor: pointer;
}

.b2c-panel .dnnFormItem label {
    display: block;
}
.b2c-panel .dnnFormItem label.inline {
    display: inline-block;
    cursor: pointer;
}

.b2c-panel .dnnFormItem .full-width {
    width: 100%;
}

@media (max-width: 800px) { 
    th.userName,
    td.userName {
        display: none;
    }
}

@media (max-width: 500px) {
    .b2c-rightTab {
        width: 100%;
    }
}