<!--
	In order to import custom user attributes from Azure B2C, you have to follow these steps:
	   1) Create the custom attribute in Azure B2C
	   2) Under "User flows (policies)", select your "Sign up and sign in" policy and add the new attribute in the "Application claims"
  NOTE: b2cExtensionName is automatically by the Module Setup when the Graph App is correctly configured on the Advanced Settings,
  so the module can create and update custom profile properties on B2C.
-->
<ProfileMappings>
  <profileMapping dnnProfilePropertyName="Biography"
	                b2cClaimName="Biography"
                  b2cExtensionName="" />

	<profileMapping dnnProfilePropertyName="Cell"
	                b2cClaimName="Cell" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Fax"
	                b2cClaimName="Fax" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="IM"
	                b2cClaimName="IM" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="LinkedIn"
	                b2cClaimName="LinkedIn" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="MiddleName"
	                b2cClaimName="MiddleName" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Photo"
	                b2cClaimName="Photo" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="PreferredLocale"
	                b2cClaimName="PreferredLocale" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="PreferredTimeZone"
	                b2cClaimName="PreferredTimeZone" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Prefix"
	                b2cClaimName="Prefix" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Skype"
	                b2cClaimName="Skype" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Suffix"
	                b2cClaimName="Suffix" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Telephone"
	                b2cClaimName="Telephone" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="TimeZone"
	                b2cClaimName="TimeZone" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Twitter"
	                b2cClaimName="Twitter" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Unit"
	                b2cClaimName="Unit" 
                  b2cExtensionName="" />                  

	<profileMapping dnnProfilePropertyName="Website"
	                b2cClaimName="Website" 
                  b2cExtensionName="" />
                  
</ProfileMappings>
