<!--
	In order to import custom user attributes from Azure B2C, you have to follow these steps:
	   1) Create the custom attribute in Azure B2C
	   2) Under "User flows (policies)", select your "Sign up and sign in" policy and add the new attribute in the "Application claims"
-->
<ProfileMappings>
	<profileMapping dnnProfilePropertyName="Biography"
	                b2cClaimName="Biography" />

	<profileMapping dnnProfilePropertyName="Cell"
	                b2cClaimName="Cell" />

	<profileMapping dnnProfilePropertyName="Fax"
	                b2cClaimName="Fax" />

	<profileMapping dnnProfilePropertyName="IM"
	                b2cClaimName="IM" />

	<profileMapping dnnProfilePropertyName="LinkedIn"
	                b2cClaimName="LinkedIn" />

	<profileMapping dnnProfilePropertyName="MiddleName"
	                b2cClaimName="MiddleName" />

	<profileMapping dnnProfilePropertyName="Photo"
	                b2cClaimName="Photo" />

	<profileMapping dnnProfilePropertyName="PreferredLocale"
	                b2cClaimName="PreferredLocale" />

	<profileMapping dnnProfilePropertyName="PreferredTimeZone"
	                b2cClaimName="PreferredTimeZone" />

	<profileMapping dnnProfilePropertyName="Prefix"
	                b2cClaimName="Prefix" />

	<profileMapping dnnProfilePropertyName="Skype"
	                b2cClaimName="Skype" />

	<profileMapping dnnProfilePropertyName="Suffix"
	                b2cClaimName="Suffix" />

	<profileMapping dnnProfilePropertyName="Telephone"
	                b2cClaimName="Telephone" />

	<profileMapping dnnProfilePropertyName="TimeZone"
	                b2cClaimName="TimeZone" />

	<profileMapping dnnProfilePropertyName="Twitter"
	                b2cClaimName="Twitter" />

	<profileMapping dnnProfilePropertyName="Unit"
	                b2cClaimName="Unit" />

	<profileMapping dnnProfilePropertyName="Website"
	                b2cClaimName="Website" />
</ProfileMappings>
