<!--
Configure AzureB2C to DNN role mappings for login and synchronization.  Without adding these mappings, no roles will be created or synchronized on DNN.

-->

<RoleMappings>
  <roleMappings dnnRoleName="Owners" b2cRoleName="Owners" />
  <roleMappings dnnRoleName="Employee + Financial" b2cRoleName="Employee_Financial" />
</RoleMappings>