<?xml version="1.0" encoding="utf-8" ?>
﻿<!--
Configure AzureB2C to DNN role mappings for login and synchronization.  
1. If no role mapping is specified, all the B2C roles will be synced with DNN
2. If at least one role mapping is specified, only  the B2C roles specified below will be synced with DNN
-->
<RoleMappings>
<!--  <roleMappings dnnRoleName="Owners" b2cRoleName="Owners" />
  <roleMappings dnnRoleName="Employee + Financial" b2cRoleName="Employee_Financial" /> -->
</RoleMappings>
