<?xml version="1.0"?>
<UserMappings>
  <userMapping dnnPropertyName="PortalId" b2cClaimName="portalId" />
  <userMapping dnnPropertyName="Id" b2cClaimName="sub" />
  <userMapping dnnPropertyName="FirstName" b2cClaimName="givenName" />
  <userMapping dnnPropertyName="LastName" b2cClaimName="surname" />
  <userMapping dnnPropertyName="Email" b2cClaimName="emails" />
</UserMappings>